.Banner-Banner{
    background: #0D28A6;
    border-radius: 1.3rem;
  
 
}

.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

   

}



.Banner-Header{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 630;
    font-size: 3.5rem;
    margin-top: 5rem;
    padding-top: 5rem;
}

.Banner-Content{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 630;
    font-size: 1.3rem;
    margin-top: 5rem;
  
    
}

.Banner-Button{
    margin-top :6rem;
    padding-bottom: 3rem;
    
}

@media (max-width : 767px){
  .Banner-Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 270px;
    margin-top: 2rem;
    gap: 5rem;
    max-width:40rem !important;
    
  }

  .Banner{
     text-align: center;
  }
  }